.red, .green, .yellow {
  font-size: 2rem;
}
.red, .red:hover {
  background: #dc3545;
  border-color: #dc3545;
}
.green, .green:hover {
  background: #28a745;
  border-color: #28a745;
}
.yellow, .yellow:hover {
  background: #ffc107;
  border-color: #ffc107;
  color: #212529;
}
